--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <visitor-identifier>1</visitor-identifier>
          <name>Question 1</name>
          <local-identifier>1</local-identifier>
          <ideas>Choice 1
        Choice 2</ideas>
        </question>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"77b3a3845bd0520e23da42feba3feff7\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">false</active>
          <choices-count type="integer">0</choices-count>
          <created-at type="datetime">2014-02-25T14:16:34Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">622</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Question 1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:34Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">1</version>
          <votes-count type="integer">0</votes-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:34 GMT
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/622.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <prompts-count type="integer">0</prompts-count>
          <version type="integer">1</version>
          <site-id type="integer">1</site-id>
          <uses-catchup type="boolean">true</uses-catchup>
          <it-should-autoactivate-id[...]
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/622.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"73015620c928f6da60e089d35312dda3\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">2</choices-count>
          <created-at type="datetime">2014-02-25T14:16:34Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">622</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Question 1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:34Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">2</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">2</item-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:34 GMT
[...]
