--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"4499ec7892e925bc738d04fba7e7112a\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice Renamed</data>
            <id type="integer">1300</id>
            <losses type="integer">0</losses>
            <score type="float">66.6666666666667</score>
            <wins type="integer">1</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice 2</data>
            <id type="integer">1301</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:27Z</created-at>
            <data>New inactive choice</data>
            <id type="integer">1302</id>
            <losses type="integer">1</losses>
            <score type="float">33.3333333333333</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 25 Feb 2014 14:16:35 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices/1300.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"ab31fd1d686e83c7c2273e12f1e2dc02\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">true</active>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <data>Choice Renamed</data>
          <id type="integer">1300</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier nil="true"></local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">1</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">621</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">66.6666666666667</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:33Z</updated-at>
          <version type="integer">2</version>
          <wins type="integer">1</wins>
        </choice>

  recorded_at: Tue, 25 Feb 2014 14:16:35 GMT
[...]
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"6aff43874c87f80028ca1c7a2d991209\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">3</choices-count>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">621</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">1</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:28Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">5</version>
          <votes-count type="integer">1</votes-count>
          <item-count type="integer">3</item-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:35 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices/1300.xml?include_inactive=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"164a46b666740de439ffca6cdfee1882\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active ty[...]
