--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621.xml?creator_id=1&visitor_identifier=guest&with_appearance=true&with_prompt=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"d3203ddc33d034d8b055599ce1143ea2\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">3</choices-count>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">621</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">1</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:28Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">5</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">3</item-count>
          <appearance_id>e82b039d8d4e0c72a68057b451d49900</appearance_id>
          <picked_prompt_id>194</picked_prompt_id>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:30 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/prompts/194.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"6751c1210da87c416234a88ebd238a97\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <prompt>
          <created-at type="datetime">2014-02-25T14:16:29Z</created-at>
          <id type="integer">194</id>
          <left-choice-id type="integer">1300</left-choice-id>
          <question-id type="integer">621</question-id>
          <right-choice-id type="integer">1302</right-choice-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:29Z</updated-at>
          <votes-count type="integer">0</votes-count>
          <left-choice-text>Choice 1</left-choice-text>
          <right-choice-text>New inactive choice</right-choice-text>
        </prompt>

  recorded_at: Tue, 25 Feb 2014 14:16:30 GMT
[...]
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/prompts/194/vote.xml?next_prompt%5Bvisitor_identifier%5D=guest-tester&next_prompt%5Bwith_appearance%5D=true&next_prompt%5Bwith_visitor_stats%5D=true&question_id=621&vote%5Bappearance_lookup%5D=e82b039d8d4e0c72a68057b451d49900&vote%5Bdirection%5D=left&vote%5Bvisitor_identifier%5D=guest-tester
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <prompt>
    [...]
