--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: put
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <prompts-count type="integer">0</prompts-count>
          <version type="integer">1</version>
          <site-id type="integer">1</site-id>
          <uses-catchup type="boolean">true</uses-catchup>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <information nil="true"></information>
          <choices-count type="integer">0</choices-count>
          <creator-id type="integer">8</creator-id>
          <tracking nil="true"></tracking>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <votes-count type="integer">0</votes-count>
          <id type="integer">621</id>
          <visitor-identifier>1</visitor-identifier>
          <name>Q1</name>
          <local-identifier>1</local-identifier>
          <updated-at type="datetime">2014-02-25T14:16:26Z</updated-at>
          <show-results type="boolean">true</show-results>
          <ideas>Choice 1
        Choice 2</ideas>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
        </question>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: " "
  recorded_at: Tue, 25 Feb 2014 14:16:26 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"7b52c2165c7ab367955bb970e53b1dd4\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">2</choices-count>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">621</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">false</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">0</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:26Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">3</version>
          <votes-count type="integer">0</votes-count>
          <item-count type="integer">2</item-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:16:27 GMT
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <data>New inactive choice</data>
          <visitor-identifier>1</visitor-identifier>
          <local-identifier>1</local-identifier>
        </choice>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 201
      message: "Created "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Location: 
      - http://localhost:3030/questions/621/choices/1302
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">false</active>
          <created-at type="datetime">2014-02-25T14:16:27Z</created-at>
          <creator-id type="integer">8</creator-id>
          <data>New inactive choice</data>
          <id type="integer">1302</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier>1</local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">621</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:16:27Z</updated-at>
          <version type="integer">1</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Tue, 25 Feb 2014 14:16:27 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices.xml?include_inactive=true
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"3713ceddddbbcb14036205eff315a6d6\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice 1</data>
            <id type="integer">1300</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice 2</data>
            <id type="integer">1301</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">false</active>
            <created-at type="datetime">2014-02-25T14:16:27Z</created-at>
            <data>New inactive choice</data>
            <id type="integer">1302</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 25 Feb 2014 14:16:27 GMT
[...]
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices/1302.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"d8851e8585c772603e99efec837642f5\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">false</ac[...]
[...]
