--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621/choices.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"9ca2f194db0a6a942ff1f2f74fb4eca8\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choices type="array">
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice 1</data>
            <id type="integer">1300</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
          <choice>
            <active type="boolean">true</active>
            <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
            <data>Choice 2</data>
            <id type="integer">1301</id>
            <losses type="integer">0</losses>
            <score type="float">50.0</score>
            <wins type="integer">0</wins>
            <user-created type="boolean">false</user-created>
          </choice>
        </choices>

  recorded_at: Tue, 25 Feb 2014 14:16:26 GMT
