--- 
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/621.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Etag: 
      - "\"d8c777513c17ba76ca9de9b4e6e68a57\""
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">3</choices-count>
          <created-at type="datetime">2014-02-25T14:16:26Z</created-at>
          <creator-id type="integer">8</creator-id>
          <id type="integer">621</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">1</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-02-25T14:22:26Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">6</version>
          <votes-count type="integer">1</votes-count>
          <item-count type="integer">3</item-count>
        </question>

  recorded_at: Tue, 25 Feb 2014 14:22:26 GMT
recorded_with: VCR 2.8.0
