--- 
recorded_with: VCR 2.8.0
http_interactions: 
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3.xml
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: "OK "
    headers: 
      Etag: 
      - "\"9dfd43d9c7ddf70c27b138fe83c25a70\""
      Content-Type: 
      - application/xml; charset=utf-8
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <question>
          <active type="boolean">true</active>
          <choices-count type="integer">6</choices-count>
          <created-at type="datetime">2014-03-18T13:53:23Z</created-at>
          <creator-id type="integer">4</creator-id>
          <id type="integer">3</id>
          <inactive-choices-count type="integer">0</inactive-choices-count>
          <information nil="true"></information>
          <it-should-autoactivate-ideas type="boolean">true</it-should-autoactivate-ideas>
          <local-identifier>1</local-identifier>
          <name>Q1</name>
          <prompts-count type="integer">2</prompts-count>
          <show-results type="boolean">true</show-results>
          <site-id type="integer">1</site-id>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-18T13:53:30Z</updated-at>
          <uses-catchup type="boolean">true</uses-catchup>
          <version type="integer">6</version>
          <votes-count type="integer">1</votes-count>
          <item-count type="integer">6</item-count>
        </question>

  recorded_at: Wed, 19 Mar 2014 16:20:29 GMT
- request: 
    method: post
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/questions/3/choices.xml
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <local-identifier>1</local-identifier>
          <visitor-identifier>John Travolta</visitor-identifier>
          <data>New Choice</data>
        </choice>

    headers: 
      Content-Type: 
      - application/xml
  response: 
    status: 
      code: 201
      message: "Created "
    headers: 
      Content-Type: 
      - application/xml; charset=utf-8
      Location: 
      - http://localhost:3030/questions/3/choices/21
    body: 
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <choice>
          <active type="boolean">true</active>
          <created-at type="datetime">2014-03-19T16:20:29Z</created-at>
          <creator-id type="integer">5</creator-id>
          <data>New Choice</data>
          <id type="integer">21</id>
          <item-id type="integer" nil="true"></item-id>
          <local-identifier>1</local-identifier>
          <losses type="integer">0</losses>
          <position type="integer" nil="true"></position>
          <prompt-id type="integer" nil="true"></prompt-id>
          <prompts-count type="integer">0</prompts-count>
          <prompts-on-the-left-count type="integer">0</prompts-on-the-left-count>
          <prompts-on-the-right-count type="integer">0</prompts-on-the-right-count>
          <question-id type="integer">3</question-id>
          <ratings type="integer" nil="true"></ratings>
          <request-id type="integer" nil="true"></request-id>
          <score type="float">50.0</score>
          <tracking nil="true"></tracking>
          <updated-at type="datetime">2014-03-19T16:20:29Z</updated-at>
          <version type="integer">1</version>
          <wins type="integer">0</wins>
        </choice>

  recorded_at: Wed, 19 Mar 2014 16:20:29 GMT
- request: 
    method: get
    uri: http://abner.oliveira%40serpro.gov.br:serpro@localhost:3030/visitors.xml?ideas_count=1&page=&question_id=3
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 404
      message: "Not Found "
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
    body: 
      string: |
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
          <title>Action Controller: Exception caught</title>
          <style>
            body { background-color: #fff; color: #333; }
        
            body, p, ol, ul, td {
              font-family: verdana, arial, helvetica, sans-serif;
              font-size:   13px;
              line-height: 18px;
            }
        
            pre {
              background-color: #eee;
              padding: 10px;
              font-size: 11px;
            }
        
            a { color: #000; }
            a:visited { color: #666; }
            a:hover { color: #fff; background-color:#000; }
          </style>
        </head>
        <body>
        
        <h1>
          WillPaginate::InvalidPage
          
            in VisitorsController#index
          
        </h1>
        <pre>&quot;&quot; given as value, which translates to &#39;0&#39; as page number</pre>
        
        
        
        <p><code>RAILS_ROOT: /home/80129498572/projetos/participa/pairwise-api</code></p>
        
        <div id="traces">
          
            
            <a href="#" onclick="document.getElementById('Framework-Trace').style.display='none';document.getElementById('Full-Trace').style.display='none';document.getElementById('Application-Trace').style.display='block';; return false;">Application Trace</a> |
          
            
            <a href="#" onclick="document.getElementById('Application-Trace').style.display='none';document.getElementById('Full-Trace').style.display='none';document.getEleme[...]
