<span id="comment-action-dislike-<%= comment.id %>" class="like-comment-action"> 
  <a href="#" onclick="toggle_comment_like(this, 1, '<%= url %>');return false;" class="comment-footer comment-footer-link comment-footer-hide comment-action-extra <%= active ? 'like-comment-action-active':'' %>">
    <span class="like-comment-action-counter"><%= comment.count_dislikes %></span>
    <span class="ui-icon ui-icon-carat-1-s"></span>
  </a>
</span>
