<span id="comment-action-like-<%= comment.id %>" class="like-comment-action">
  <a href="#" onclick="toggle_comment_like(this, 1, '<%= url %>')" class="comment-footer comment-footer-link comment-footer-hide comment-action-extra <%= active ? 'like-comment-action-active':'' %>">
    <span class="like-comment-action-counter"><%= comment.count_likes %></span>
    <span class="ui-icon ui-icon-carat-1-n"></span>
  </a>
  <span class="like-comment-action-separator">|</span>
</span>
